:root {
	--pink: rgba(214, 0, 255, 0.6);
	--blue: rgba(0, 184, 255, 0.6);
}

::selection {
	background: rgba(214, 0, 255, 0.4);
}

body {
	background-color: #000;
}

/*
 * TODO: Transition all of these fonts to minified versions
 * and a CDN in case the client has some cached.
 */
@font-face {
	font-family: "Noto";
	src: url("./fonts/Noto.otf") format("opentype");
}
@font-face {
	font-family: "Hermes";
	src: url("./fonts/Hermes.otf") format("opentype");
}
@font-face {
	font-family: "Bios Regular";
	src: url("./fonts/Bios-Regular.otf") format("opentype");
}

nav {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #000;
	z-index: 1;
	user-select: none;
}

#navLogo {
	font-family: "Hermes";
	font-size: 50px;
	text-decoration: none;
	color: #ffffff;
	margin-left: 10px;
	text-shadow: -4px -4px var(--pink), 4px 4px var(--blue);
}

#neonSplash {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;

	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#chineseName {
	font-family: "Noto";
	font-size: 40px;
}
#chineseTagline {
	font-family: "Noto";
	font-size: 30px;
	letter-spacing: 0.7ch;
}
.chineseShadow {
	color: transparent;
	text-shadow: -1px -1px var(--pink), 1px 1px var(--blue);
}

#companyName {
	font-family: "Bios Regular";
	font-size: 90px;
	color: transparent;
	text-shadow: -3px -3px 1px var(--pink), 3px 3px 1px var(--blue);
}
#companyType {
	font-family: "Bios Regular";
	font-size: 30px;
	letter-spacing: 0.5ch;
	color: transparent;

	text-shadow: -1px -1px var(--pink), 1px 1px var(--blue);
}

#tagline {
	font-family: "Lucida Console";
	font-size: 24px;
	color: white;
	letter-spacing: -1px;
	text-shadow: 0 0 3px #ffffff;
	margin-top: 35px;
}

@media screen and (max-width: 500px) {
	#chineseName {
		font-size: 30px;
	}
	#companyName {
		font-size: 60px;
	}
	#companyType {
		font-size: 20px;
	}
}
