@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
	--pink: rgba(214, 0, 255, 0.6);
	--blue: rgba(0, 184, 255, 0.6);
	--dark-background: #050505;
	--light-background: #FFFFFF;
	--light-text: #FFFFFF;
	--dark-text: #020101;
}

::selection {
	background: rgba(214, 0, 255, 0.4);
}

body {
	background-color: var(--light-background);
	color: var(--dark-text);
}
