@font-face {
	font-family: "Noto";
	src: url("../../fonts/Noto.otf") format("opentype");
}
/*@font-face {
	font-family: "Noto Minimal";
	src: url("../../fonts/Noto.min.woff") format("woff");
}*/
@font-face {
	font-family: "Hermes";
	src: url("../../fonts/Hermes.otf") format("opentype");
}
@font-face {
	font-family: "Bios Regular";
	src: url("../../fonts/Bios-Regular.otf") format("opentype");
}

nav {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: var(--dark-background);
	z-index: 1;
	user-select: none;
}
#navLogo {
	font-family: "Hermes";
	font-size: 50px;
	text-decoration: none;
	color: #ffffff;
	margin-left: 10px;
	text-shadow: -4px -4px var(--primaryColor), 4px 4px var(--secondaryColor);
}
.navSection {
	text-shadow: 0 0 1px var(--light-text);
}
.navSection:hover {
	text-shadow: 0 0 3px var(--light-text);
}

#home {
	background-color: var(--dark-background);
}

#neonSplash {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#chineseName {
	font-family: "Noto";
	font-size: 40px;
}
#chineseTagline {
	font-family: "Noto";
	font-size: 30px;
	letter-spacing: 0.7ch;
}
.chineseShadow {
	color: transparent;
	text-shadow: -1px -1px var(--primaryColor), 1px 1px var(--secondaryColor);
}

#companyName {
	font-family: "Bios Regular";
	font-size: 90px;
	height: 100px;
	color: transparent;
	text-shadow: -3px -3px 1px var(--primaryColor),
		3px 3px 1px var(--secondaryColor);
}
#companyType {
	font-family: "Bios Regular";
	font-size: 30px;
	height: 35px;
	letter-spacing: 0.5ch;
	color: transparent;
	text-shadow: -1px -1px var(--primaryColor), 1px 1px var(--secondaryColor);
}

#tagline {
	font-family: monospace;
	font-size: 24px;
	color: var(--light-text);
	letter-spacing: -1px;
	text-shadow: 0 0 3px var(--light-text);
	margin-top: 35px;
	word-spacing: -6.5px;
}

@media screen and (max-width: 500px) {
	#chineseName {
		font-size: 30px;
	}
	#companyName {
		font-size: 60px;
	}
	#companyType {
		font-size: 20px;
	}
}
